app:
  version_check_url: "https://raw.githubusercontent.com/sansan0/TrendRadar/refs/heads/master/version"
  show_version_update: true

crawler:
  request_interval: 1000
  enable_crawler: true
  use_proxy: false
  default_proxy: "http://127.0.0.1:10086"

report:
  mode: "current"
  rank_threshold: 5
  sort_by_position_first: false
  max_news_per_keyword: 0

notification:
  enable_notification: true
  message_batch_size: 4000
  dingtalk_batch_size: 20000
  feishu_batch_size: 30000
  bark_batch_size: 4000
  slack_batch_size: 4000
  batch_send_interval: 3
  feishu_message_separator: "━━━━━━━━━━━━━━━━━━━"
  
  push_window:
    enabled: false
    time_range:
      start: "20:00"
      end: "22:00"
    once_per_day: true
    push_record_retention_days: 7
  
  webhooks:
    feishu_url: "${{ secrets.FEISHU_WEBHOOK_URL }}"
    dingtalk_url: ""
    wework_url: ""
    wework_msg_type: "markdown"
    telegram_bot_token: ""
    telegram_chat_id: ""
    email_from: ""
    email_password: ""
    email_to: ""
    email_smtp_server: ""
    email_smtp_port: ""
    ntfy_server_url: "https://ntfy.sh"
    ntfy_topic: ""
    ntfy_token: ""
    bark_url: ""
    slack_webhook_url: ""

weight:
  rank_weight: 0.4
  frequency_weight: 0.5
  hotness_weight: 0.1

platforms:
  - id: "wallstreetcn-hot"
    name: "华尔街见闻"
  - id: "wallstreetcn-quick"
    name: "华尔街见闻快讯"
  - id: "wallstreetcn-news"
    name: "华尔街见闻最新"
  - id: "cls-hot"
    name: "财联社热门"
  - id: "cls-telegraph"
    name: "财联社电报"
  - id: "cls-depth"
    name: "财联社深度"
  - id: "jin10"
    name: "金十数据"
  - id: "fastbull"
    name: "快讯通"
  - id: "gelonghui"
    name: "格隆汇"
  - id: "xueqiu"
    name: "雪球"
  - id: "thepaper"
    name: "澎湃新闻"
  - id: "ifeng"
    name: "凤凰网"
  - id: "cankaoxiaoxi"
    name: "参考消息"
  - id: "sputniknewscn"
    name: "卫星通讯社"
  - id: "zaobao"
    name: "联合早报"
  - id: "ithome"
    name: "IT之家"
  - id: "solidot"
    name: "Solidot"
  - id: "hackernews"
    name: "Hacker News"
  - id: "github"
    name: "GitHub"
  - id: "juejin"
    name: "掘金"
  - id: "v2ex"
    name: "V2EX"
  - id: "nowcoder"
    name: "牛客网"
  - id: "sspai"
    name: "少数派"
  - id: "producthunt"
    name: "ProductHunt"
  - id: "weibo"
    name: "微博"
  - id: "zhihu"
    name: "知乎"
  - id: "bilibili-hot-search"
    name: "B站热搜"
  - id: "douyin"
    name: "抖音"
  - id: "tieba"
    name: "贴吧"
  - id: "hupu"
    name: "虎扑"
  - id: "toutiao"
    name: "今日头条"
  - id: "baidu"
    name: "百度热搜"
  - id: "tencent-hot"
    name: "腾讯新闻"
  - id: "mktnews"
    name: "MKT新闻"
  - id: "kaopu"
    name: "靠谱新闻"
  - id: "chongbuluo"
    name: "虫部落"
