app:
  version_check_url: "https://raw.githubusercontent.com/sansan0/TrendRadar/refs/heads/master/version"
  show_version_update: true

crawler:
  request_interval: 1200
  enable_crawler: true
  use_proxy: false
  default_proxy: "http://127.0.0.1:10086"

report:
  mode: "current"
  rank_threshold: 5
  sort_by_position_first: false
  max_news_per_keyword: 10  # 限制每个关键词最多10条

notification:
  enable_notification: true
  message_batch_size: 5000
  dingtalk_batch_size: 20000
  feishu_batch_size: 35000
  bark_batch_size: 4000
  slack_batch_size: 4000
  batch_send_interval: 3
  feishu_message_separator: "---"
  
  push_window:
    enabled: false
  
  webhooks:
    feishu_url: "https://www.feishu.cn/flow/api/trigger-webhook/604b0f607893e1d04b564a55aa8183b6"
    dingtalk_url: ""
    wework_url: ""
    wework_msg_type: "markdown"
    telegram_bot_token: ""
    telegram_chat_id: ""
    email_from: ""
    email_password: ""
    email_to: ""
    email_smtp_server: ""
    email_smtp_port: ""
    ntfy_server_url: "https://ntfy.sh"
    ntfy_topic: ""
    ntfy_token: ""
    bark_url: ""
    slack_webhook_url: ""

weight:
  rank_weight: 0.3
  frequency_weight: 0.6
  hotness_weight: 0.1

platforms:
  # 顶级财经权威
  - id: "wallstreetcn-hot"
    name: "华尔街见闻"
  - id: "wallstreetcn-quick"
    name: "华尔街快讯"
  - id: "cls-hot"
    name: "财联社热门"
  - id: "cls-telegraph"
    name: "财联社电报"
  - id: "cls-depth"
    name: "财联社深度"
  - id: "jin10"
    name: "金十数据"
  - id: "fastbull"
    name: "快讯通"
  - id: "gelonghui"
    name: "格隆汇"
  
  # 国际权威媒体
  - id: "zaobao"
    name: "联合早报"
  - id: "cankaoxiaoxi"
    name: "参考消息"
  
  # 科技资讯
  - id: "ithome"
    name: "IT之家"
  - id: "hackernews"
    name: "Hacker News"
  - id: "github"
    name: "GitHub"
  - id: "solidot"
    name: "Solidot"
  
  # 社交平台
  - id: "weibo"
    name: "微博"
  - id: "zhihu"
    name: "知乎"
  - id: "bilibili-hot-search"
    name: "B站热搜"
  - id: "douyin"
    name: "抖音"
  
  # 综合新闻
  - id: "baidu"
    name: "百度热搜"
  - id: "toutiao"
    name: "今日头条"
  - id: "tencent-hot"
    name: "腾讯新闻"
  - id: "thepaper"
    name: "澎湃新闻"
  - id: "ifeng"
    name: "凤凰网"
