app:
  version_check_url: "https://raw.githubusercontent.com/sansan0/TrendRadar/refs/heads/master/version"
  show_version_update: true

crawler:
  request_interval: 1000
  enable_crawler: true
  use_proxy: false

report:
  mode: "current"
  rank_threshold: 5

notification:
  enable_notification: true
  webhooks:
    feishu_url: "FEISHU_WEBHOOK_URL"

platforms:
  - id: "toutiao"
    name: "今日头条"
  - id: "baidu"
    name: "百度热搜"
